body {
  padding: 1rem;
}

ul {
  padding: 0;
}

li {
  border: solid 2px gray;
  background: #f8f9fa;
  width: 10rem;
  list-style: none;
  margin-bottom: -2px;
  transition: all 0.5s;

  &:hover {
    background-color: #e9ecef;
  }
}

.draggable {
  cursor: grab;
  padding: 1rem;
  color: #343a40;
  background-color: transparent;
  position: relative; // prevent chrome from showing parent styles while dragging
  z-index: 5;

  * {
    pointer-events: none;
    cursor: inherit;
  }
}

[draggable] {
  user-select: none;
}

h1 {
  font-size: 1.2rem;
  margin: 0;
}

[type="text"] {
  background-color: #fff;
  width: 100%;
  padding: 0.33rem;
  border: solid 1px gray;
  border-radius: 3px;
}

button {
  background-color: #277da1;
  color: #fff;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  width: 100%;
}

.formBuilder {
  display: grid;
  grid-template-columns: repeat(2, 250px [col-start]);
  column-gap: 10px;
  row-gap: 15px;
}

.dropCell {
  background: #f8f9fa;
  border-radius: 7px;
  border: solid 1px darken(#f8f9fa, 10%);
  padding: 1rem;
  height: 75px;
  transition: all 0.5s;
}

.dropTarget {
  background: lighten(#277da1, 50%);
  border: dashed 1px #277da1;
}
