body {
  padding: 1rem;
}

ul {
  padding: 0;
}

li {
  border: solid 1px gray;
  background: #f8f9fa;
  width: 10rem;
  list-style: none;
  margin-bottom: -1px;
  transition: all 0.5s;

  &:hover {
    background-color: #e9ecef;
  }
}

.draggable {
  cursor: grab;
  padding: 1rem;
  color: #343a40;

  * {
    pointer-events: none;
    cursor: inherit;
  }
}

[draggable] {
  user-select: none;
}

h1 {
  font-size: 1.2rem;
  margin: 0;
}

[type="text"] {
  width: 100%;
}

button {
  background-color: #277da1;
  color: #fff;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  width: 100%;
}

.formBuilder {
  display: grid;
  grid-template-columns: repeat(2, 250px [col-start]);
  column-gap: 10px;
  row-gap: 15px;

  > div {
    outline: solid 1px red;
    height: 75px;
  }
}
