@import "./mixins";

.dropCell {
  background-color: #f8f9fa;
  border: solid 1px darken(#f8f9fa, 10%);
  border-radius: 7px;
  height: 75px;
  padding: 0.5rem;
  position: relative;
  transition: all 0.5s;

  &:hover {
    .clearCell {
      opacity: 1;
    }
  }

  &.hasElement {
    border-color: transparent;
    background-color: transparent;

    *:not(.clearCell) {
      @include nonInteractive;
    }
  }

  &.isDragging {
    background-color: lighten(#277da1, 50%);
    border: dashed 1px #277da1;
  }

  h1 {
    @include heading;
  }

  [type="text"] {
    @include textInput;
  }

  button {
    @include button;
  }
}

.clearCell {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s;
}
